<template>
  <v-app ref="app">
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
      permanent
    >
      <v-list class="elevation-1">
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title"/>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title"/>
      <v-spacer/>
      <v-switch v-model="theme" @change="switch_theme" :label="style" color="grey"></v-switch>
    </v-app-bar>
    <v-content>
      <v-container style="min-height: 100%;max-width:100%;padding: 0;">
        <nuxt/>
      </v-container>
    </v-content>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; Effective Solar Solutions 2015 - {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
    export default {
        data() {
            return {
                min: 0,
                max: 360,
                slider: 40,
                theme: true,
                clipped: false,
                drawer: true,
                drawer1: true,
                fixed: true,
                items: [
                    {
                        icon: 'mdi-google-maps',
                        title: 'Map',
                        to: '/'
                    },

                    {
                        icon: 'mdi-help',
                        title: 'Help',
                        to: '/help'
                    }
                ],
                miniVariant: true,
                right: true,
                rightDrawer: false,
                title: 'AU PV Calculator - eSOLARs',
                install_type: '1'
            }
        },
        methods: {
            switch_theme: function () {
                this.$refs.app.$vuetify.theme.dark = this.theme
            }
        },
        computed: {
            style: function () {
                if(this.theme){
                    return 'white'
                }else {
                    return 'black'
                }
                    },
        },
        watch: {
            slider(newValue) {
                this.$store.commit("setAzimuth", newValue)
            }
        }
    }
</script>
